<div class="p-6 shadow-xs bg-white rounded-lg mt-1">
  <div class="flex items-center gap-5 mb-4">
    <i
      class="fa-light fa-<%= type === 'visit-pending' ? 'clock-rotate-left' : type === 'pending-payments' ? 'hand-holding-dollar' : 'user-slash' %> text-deep-purple text-sm"
    ></i>
    <p class="text-black-grey">
      <%= type === 'visit-pending' ? 'Visit Pending Review' : type === 'pending-payments' ? 'Pending Payments' : 'Inactive Workers' %>
    </p>
  </div>
  <div class="flex justify-between items-center">
    <div>
      <p class="text-black-grey font-medium text-sm">Opportunity Name</p>
      <p class="text-blue-light font-normal text-xs">Network Manager Organization Name</p>
    </div>
    <div class="flex gap-5 border border-light px-4 py-1 rounded-3xl items-center">
      <p class="text-black-grey font-normal text-xl">11</p>
      <i class="fa-regular fa-arrow-right text-indigo"></i>
    </div>
  </div>
  <div class="flex justify-between items-center mt-5">
    <div>
      <p class="text-black-grey font-medium text-sm">Opportunity Name</p>
      <p class="text-blue-light font-normal text-xs whitespace-nowrap">Network Manager Organization Name</p>
    </div>
    <div class="flex gap-5 border border-light px-4 py-1 rounded-3xl items-center">
      <p class="text-black-grey font-normal text-xl">11</p>
      <i class="fa-regular fa-arrow-right text-indigo"></i>
    </div>
  </div>
</div>
