@import 'tailwindcss';

@theme {
  --color-brand-deep-purple: #16006d;
  --color-brand-indigo: #3843d0;
  --color-brand-cornflower-blue: #5d70d2;
  --color-brand-sky: #8ea1ff;
  --color-brand-sunset: #e44434;
  --color-brand-mango: #fc5f36;
  --color-brand-marigold: #feaf31;
  --color-brand-blue-light: #94a3b8;
  --color-brand-sunset-light: #fc5f3633;
  --color-brand-border-light: #e2e8f0;
}
/* 
button, input:where([type=button]), input:where([type=reset]), input:where([type=submit]) {
  background-color: unset;
} */

.badge-md {
  @apply inline-block py-1 px-4 mx-1 text-nowrap rounded-3xl text-xs;
}
