{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% load waffle_tags %}

{% block content %}
{% include 'components/breadcrumbs.html' with path=path %}
<div class="card_bg">
  <div class="card_title mb-4">
    {% if is_service_delivery %}
      {% translate "Edit Service Delivery Invoice" %}
    {% else %}
      {% translate "Edit Custom Invoice" %}
    {% endif %}
    {% if form.instance.payment %}
      <span class="badge badge-sm bg-gray-200 text-gray-700 ml-2">{% translate "Paid" %}</span>
    {% endif %}
  </div>
  <div>
    {% if pm_edit_payment_invoice_form %}
      {% crispy pm_edit_payment_invoice_form %}
    {% endif %}
  </div>
</div>
{% endblock content %}
