{% extends base_template %}
{% load static %}
{% load sort_link %}
{% load i18n %}
{% load django_tables2 %}
{% block title %}{{ request.org }} - Opportunities{% endblock %}

{% block breadcrumbs_inner %}
  {{ block.super }}
  {% if program %}
    <li class="breadcrumb-item active" aria-current="page">{{ program.name }}</li>
  {% endif %}
{% endblock %}



{% block content %}
  <div class="container bg-white shadow">
    <div class="mt-5 py-3">
      <h1> Opportunities
        <span class="float-end">
          {% if request.user.is_superuser %}
          <a class="btn btn-info"
             href="{% url 'opportunity:all_opportunities' request.org.slug %}"
             title="View opportunities across organizations">
            All-Org View
          </a>
          {% endif %}
          {% if request.org_membership.is_viewer %}
          <button class="btn btn-primary" disabled>
            <span class="bi bi-plus"></span> Add new
          </button>
          {% else %}
          <a class="btn btn-primary"
             href="{{ opportunity_init_url }}"
             title="Add new opportunity"><span
            class="bi bi-plus"></span> Add new
          </a>
          {% endif %}
        </span>
      </h1>
    </div>
    <div class="pb-4">
      {% include 'opportunity/partial_opportunity_table.html' %}
    </div>
  </div>

{% if program_invitation_table and program_invitation_table.data %}
<div class="container bg-white shado mb-5">
  <div class="mt-5 py-3">
    <h2>{% translate "Program Invitations" %}</h2>
  </div>
  <div class="pb-4">
    {% render_table program_invitation_table %}
  </div>
</div>
{% endif %}
{% endblock content %}
