<div class="py-6 px-8 flex flex-col gap-36 justify-start w-full min-h-[620px] h-fit">
  <p class="text-2xl text-brand-deep-purple">Invitation</p>
  <div class="flex flex-col gap-6 items-end">
    <p class="text-2xl text-slate-500">
      Your team member,
      <span class="text-brand-deep-purple block">John Mathew</span>
      is inviting you to join <span class="text-brand-deep-purple">Organization Name</span>
    </p>
    <div class="w-fit">
        <button class="button button-md primary-dark block">JOIN NOW</button>
    </div>
  </div>
</div>
