{% load static i18n %}
<form method="post" class="w-full min-h-[620px] h-fit bg-white rounded-lg py-6 px-8 flex flex-col gap-4">
    <h6 class="title text-brand-deep-purple">Password Reset</h6> 
    <span class="text-sm text-gray-600">You will receive a password reset link in your email.</span> 
    <div class="simple-input">
        <input type="email" placeholder="Enter Email ID" name="email" required/>
        <i class="fa-light fa-envelope"></i>
    </div> 
    <div class="flex justify-between items-center"> 
        <div></div>
        <button class="button button-md outline-style" type="submit">
            <span class="relative z-20">Reset</span>
        </button>
    </div> 

    <div class="text-sm text-gray-400 text-center mt-auto border-t-gray-200 border-t-2 pt-4 ">
        Don't have an account?
        <a href="#" class="text-brand-indigo font-medium">Signup</a>
    </div>
</form>