{% extends "components/task_progress_base.html" %}
{% block poll_url %}{{ export_status_url }}{% endblock %}
{% block error_title %}Export Failed{% endblock %}
{% block in_progress_text %}Preparing export, hang tight...{% endblock %}
{% block complete %}
  {% if not progress.message %}
    <div>
      <a class="button button-sm text-brand-deep-purple"
         href="{{ download_url }}">
        <i class="fa-solid fa-circle-down"></i> Download Export
      </a>
    </div>
  {% else %}
    <div>
      <div x-data="{ open: false, openModal() { this.open = true }, closeModal() { this.open = false } }"
           @keydown.escape.window="closeModal()"
           id="exportStatus">
        <a class="w-full text-sm text-gray-700 underline cursor-pointer "
           @click="openModal()">All done! View status.</a>
        <div x-cloak
             x-show="open"
             x-transition.opacity
             class="modal-backdrop fixed inset-0 bg-black bg-opacity-50 z-40 flex items-center justify-center">
          <div @click.away="closeModal()"
               x-show="open"
               x-transition
               class="modal bg-white rounded-lg shadow-lg w-full max-w-lg z-50"
               role="dialog"
               aria-labelledby="exportStatusLabel">
            <div class="modal-content p-4 flex items-center justify-between">
              <h5 class="text-lg font-medium" id="exportStatusLabel">Status</h5>
              <button @click="closeModal()"
                      class="button-icon"
                      aria-label="Close"
                      id="exportStatusClose">
                <i class="fa-solid fa-xmark"></i>
              </button>
            </div>
            <div class="flex items-center justify-between p-4 mb-4 rounded-lg">{{ progress.message|safe }}</div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
