files:
  "/opt/elasticbeanstalk/tasks/taillogs.d/extra-logs.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      /var/log/cfn-init-cmd.log
files:
  "/root/cloudwatch-cfn.json":
    mode: "000644"
    owner: root
    group: root
    content: |
      {
        "logs": {
          "logs_collected": {
            "files": {
              "collect_list": [
                {
                  "file_path": "/var/log/cfn-init-cmd.log",
                  "log_group_name": "/aws/elasticbeanstalk/$(EB_ENVIRONMENT_NAME)/var/log/cfn-init-cmd.log",
                  "log_stream_name": "{instance_id}"
                }
              ]
            }
          }
        }
      }
commands:
  "01":
    command: /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl -m ec2 -a append-config -c file:/root/cloudwatch-cfn.json -s
option_settings:
  aws:elasticbeanstalk:cloudwatch:logs:
    StreamLogs: true
    DeleteOnTerminate: false
    RetentionInDays: 180
