<!-- 
Required Parameters:
{{icon}}
{{input_id}}
{{input_name}}
{{label}}
-->
<div class="max-w-md min-w-[300px] mx-auto p-6">
    <div x-data="{
      leftIcon: '{{icon}}', 
      selectedOption: '',
      isFocused: false,
      get shouldLabelFloat() {
        return this.selectedOption || this.isFocused;
      }
    }">
      <!-- Text field -->
      <div class="textfield-wrapper relative w-full">
        <div class="relative">
          <!-- Fixed left icon -->
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none text-black">
            <i :class="leftIcon"></i>
          </div>
          
          <input 
            type="text" 
            id="{{input_id}}" 
            name="{{input_name}}"            
            placeholder=""
            class="peer w-full px-3 py-2.5 border border-brand-border-light focus:outline-none focus:border-brand-border-light hover:border-brand-border-light text-brand-blue-light bg-white rounded-md outline-none transition-colors duration-200"
            :class="{'pl-10': leftIcon, 'pr-10': true}"
            x-model="selectedOption"
            @focus="isFocused = true"
            @blur="isFocused = false"
            @keydown.escape="isFocused = false"
          />
          
          <label for="{{input_id}}" class="absolute left-1 top-0 text-xs transition-all duration-200 origin-[0%] -translate-y-1/2 bg-white px-1 pointer-events-none text-brand-blue-light"
            :class="{
              'left-10': leftIcon,
              'top-0 text-xs translate-x-[-50%] text-brand-blue-light': shouldLabelFloat,
              'top-1/2 text-lg': !shouldLabelFloat
            }">
            <span class="text-brand-blue-light">{{label}}</span>
          </label>
        </div>
      </div>
    </div>
  </div>