<!-- dashbaord.html -->
{% extends 'tailwind/base.html' %}

{% block content %}
<div class="md:max-w-screen-lg mx-auto flex flex-col gap-4 h-screen justify-between">
   <div class="flex justify-between w-full gap-4 items-center mb-8">
      {% for data in data.stage %}
      <div class="flex gap-2 items-center">
         <!-- circle -->
         <div
            class="rounded-full p-2  grid place-content-center w-8 h-8 border border-brand-indigo text-brand-deep-purple {% if data.status %} bg-brand-indigo border-none text-white {% endif %}">
            {{data.index}}</div>
         <!-- label -->
         <div
            class="text-sm whitespace-nowrap text-gray-400 {% if data.status %} text-brand-deep-purple font-medium {% endif %}">
            {{data.label}}</div>
      </div>
      <hr class="border-t-2 border-dashed border-gray-300 w-full  {% if  forloop.last  %} hidden {% endif %}">
      {% endfor %}
   </div>
   {% include "tailwind/components/create/verification-flags-form.html" %}
   <div class="bg-white rounded-lg shadow-sm flex justify-end p-2 gap-2">
      <button class="button button-md outline-style" @click="step--" :disabled="step === 1">
         Prev
      </button>
      <button class="button button-md primary-dark" @click="step++" :disabled="step === components.length - 1">
         Next
      </button>
   </div>
</div>
{% endblock %}

<script>
   function fetchComponent(path) {
      return `{% include "${path}" %}`;
   }
</script>