{% extends "tailwind/base.html" %} {% block content %}
<div class="w-[1344px] mx-auto ">
    <p class="px-4 mb-5 text-sm font-medium text-brand-deep-purple">Table</p>
    <div class="flex mx-auto items-center justify-between w-full px-4 py-2 border bg-slate-50 rounded-lg shadow-sm h-14">
        <p class="text-sm text-brand-deep-purple">Custom Table</p>
        <div class="flex gap-x-6">
          <button type="button">
            <i class="fa-light fa-clock-rotate-left text-brand-deep-purple"></i>
          </button>
          <button type="button">
            <i class="fa-light fa-upload text-brand-deep-purple"></i>
          </button>
          <button type="button">
            <i class="fa-light fa-download text-brand-deep-purple"></i>
          </button>
          <button type="button">
            <i class="fa-light fa-sliders-simple text-brand-deep-purple"></i>
          </button>
        </div>
      </div>
      <!-- Custom table part -->
      {% load render_table from django_tables2 %}
        {% render_table table %}
</div>
{% endblock %}