{% extends 'tailwind/base.html' %}
{% block content %}
<div class="w-full space-y-4">
  <div hx-get="src/components/breadcrumb.htmx" hx-trigger="load"></div>
  <!-- Profile & Statistic Cards Container -->
  <div class="flex flex-wrap items-center h-32 p-2 profile-bg bg-brand-indigo rounded-2xl">
    {% include "tailwind/components/worker_page/profile.html" %}
    {% for data in kpi %}
    {% include "tailwind/components/cards/worker_page/worker_kpi.html" with count='255' text='Dummy' icon='thumbdown'
    drodown='false' %}
    {% endfor %}
  </div>
</div>

<div class="flex flex-row gap-4">
  {% include "tailwind/components/cards/user_status_card.html" with rows=rows %}
  {% include "tailwind/components/user_timeline.html" with timeline=timeline%}
  <div class="flex flex-col gap-4">
    {% include "tailwind/components/cards/approval_card.html" %}
    {% include "tailwind/components/cards/rejection_card.html" %}
  </div>
</div>
{% include "tailwind/components/cards/filter_card.html" with flags=flags %}
</div>

{% endblock %}