{% extends "tailwind/base.html" %} {% block content %}
<p class="my-5 text-sm font-medium text-brand-deep-purple">Opportunity Name</p>
<div
  class="flex flex-col w-full gap-2"
  x-data="{
        selectedTab: '',
        selectedOption: '',
    }"
  x-init="selectedTab='invoices';selectedOption=''"
>
  <!-- Tabs -->
  <div class="relative flex items-center justify-between w-full px-4 mx-auto rounded-lg shadow-sm bg-slate-50 h-14">
    <div class="flex h-full px-2 gap-x-8">
      <div
        @click="selectedTab = 'invoices'; selectedRows = []; $nextTick(() => { 
                htmx.trigger('#invoices-tab', 'loadInvoices');
            })"
        id="invoices-tab"
        class="relative flex items-center h-full text-sm cursor-pointer"
        :class="{
                'text-brand-deep-purple font-medium': selectedTab === 'invoices',
                'text-gray-500': selectedTab !== 'invoices'
            }"
        hx-get="/a/test-org-managed/opportunity/8/tw/tables/all_invoice"
        hx-swap="innerHTML"
        hx-trigger="loadInvoices"
        hx-target="#invoice_report_container"
      >
        <span>All Invoices</span>
        <div
          class="absolute bottom-0 left-1/2 -translate-x-1/2 w-2/3 h-1.5 bg-brand-mango rounded-t-lg"
          x-show="selectedTab === 'invoices'"
        ></div>
      </div>
      <div
        @click="selectedTab = 'report'; selectedRows = []; $nextTick(() => { 
                htmx.trigger('#report-tab', 'loadReport');
            })"
        id="report-tab"
        class="relative flex items-center h-full text-sm cursor-pointer"
        :class="{
                'text-brand-deep-purple font-medium': selectedTab === 'report',
                'text-gray-500': selectedTab !== 'report'
            }"
        hx-get="/a/test-org-managed/opportunity/8/tw/tables/invoice_report"
        hx-swap="innerHTML"
        hx-trigger="loadReport"
        hx-target="#invoice_report_container"
      >
        <span>Payment Report</span>
        <div
          class="absolute bottom-0 left-1/2 -translate-x-1/2 w-2/3 h-1.5 bg-brand-mango rounded-t-lg"
          x-show="selectedTab === 'report'"
        ></div>
      </div>
    </div>

    <!-- All Invoices Options -->
    <div x-show="selectedTab === 'invoices'" class="flex items-center gap-x-4">
      <button type="button" class="button-icon">
        <i class="fa-light fa-download text-brand-deep-purple"></i>
      </button>
      <button class="button button-md primary-dark">Add Invoice</button>
    </div>

    <!-- Payment Report Options -->
    <div x-show="selectedTab === 'report'" class="flex gap-x-4">
      <button type="button" class="button-icon">
        <i class="fa-light fa-download text-brand-deep-purple"></i>
      </button>
    </div>
  </div>

  <!-- Payment Report Card -->
  <div
    x-show="selectedTab === 'report'"
    id="invoice_report_card_container"
    hx-get="/a/test-1/opportunity/1/tw/api/invoice_report_card/"
    hx-swap="innerHTML"
    hx-trigger="fetchReport"
    x-init="$watch('selectedTab', value => {
        if (value === 'report') {
            htmx.trigger('#invoice_report_card_container', 'fetchReport');
        }
    })"
  ></div>


  <div x-show="selectedTab === 'report'" class="relative flex items-center justify-between w-full px-4 mx-auto  rounded-lg shadow-sm bg-slate-50 h-14">
    <p class="text-sm font-medium text-brand-deep-purple">All Invoices</p>
  </div>

  <!-- Tab Content Container -->
  <div
    id="invoice_report_container"
    class="w-full"
    hx-get="/a/test-org-managed/opportunity/8/tw/tables/all_invoice"
    hx-swap="innerHTML"
    hx-trigger="load"
  ></div>
  <div class="flex items-center justify-between w-full px-4 py-2 bg-slate-50 rounded-lg table-footer h-14 text-brand-deep-purple">
    {% include "tailwind/components/pagination.html" %}
    <div x-show="selectedTab === 'report'" class="flex items-center justify-between w-2/3 h-10 gap-4 px-4 py-2 rounded-lg bg-brand-deep-purple/10 text-slate-900">
      <div class="flex items-center gap-2">
        <p class="text-xs text-nowrap">Approved Unit:</p>
        <p class="text-sm text-nowrap">10,456</p>
      </div>
      <div class="flex items-center gap-2">
        <p class="text-xs text-nowrap">User Payment Accrued:</p>
        <p class="text-sm text-nowrap">10,456</p>
      </div>
      <div class="flex items-center gap-2">
        <p class="text-xs text-nowrap">Network Manager Payment Accrued:</p>
        <p class="text-sm text-nowrap">10,456</p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
