{% extends 'tailwind/base.html' %}
{% block content %}
{% load i18n %}
<div class="flex items-center justify-center">
  <div class="flex flex-col gap-2 w-full">
  <div class="flex relative mx-auto items-center justify-between w-full px-4 bg-slate-50 rounded-lg shadow-sm h-14">
      <p class="text-sm text-brand-deep-purple">{% translate "Opportunities List" %}</p>
      <div class="flex gap-x-6">
        <button type="button"><i class="fa-light fa-sliders-simple"></i></button>
        <button
        class="button button-md primary-dark"
      >
        Add Opportunity
      </button>
      </div>
    </div>

   {% include "tailwind/components/tables/opportunities_list_table-backup.html" %}

  </div>
</div>
{% endblock %}
