<!-- opportunities.html -->
{% extends 'tailwind/base.html' %}

{% block content %}
    <div class="container md:max-w-screen-2xl mx-auto flex flex-col gap-4">
        {% include "tailwind/components/opportunity-dashboard/detials.html" with data=data totalinfo=totalinfo %}
        <div>
            {% include "tailwind/components/opportunity-dashboard/workers_activity.html"%}
            {% include 'tailwind/components/opportunity-dashboard/progress-view.html' with title='Daily Active Worker' data_a_title='maximum' data_a_value='50' %}
        </div> 
        {% include 'tailwind/components/opportunity-dashboard/workers-funnelview.html' %}  
    </div>
{% endblock %}

