{% extends 'tailwind/base.html' %} {% block content %}
<div class="md:max-w-screen-2xl mx-auto flex items-center">
  <div class="w-full space-y-4">
    {% comment %} <div hx-get="src/components/breadcrumb.htmx" hx-trigger="load"></div> {% endcomment %}
    <!-- Profile & Statistic Cards Container -->
    <div class="flex gap-4  items-center h-32 p-4 profile-bg bg-brand-indigo rounded-2xl">
        {% include "tailwind/components/worker_page/profile.html" %} 
        {% for data in kpi %}
        {% include "tailwind/components/cards/kpi.html" with count=data.count text=data.name icon=data.icon drodown=data.dropdown %}  
        {% endfor %} 
    </div>
    <div class="flex justify-center w-full">
      <div class="w-full grid grid-cols-10 gap-2 ">
        <div class="col-span-6 ">
          <!-- Tabs -->
           {% include "tailwind/components/tabs/tabs.html" with tabs=tabs %}
        </div>
        <div class="col-span-4">
          {% include "tailwind/components/worker_page/detail_panel.html" %}
        </div>
      </div>
    </div> 
</div>
{% endblock %}