<div class="group relative p-3 hover:bg-sunset-light rounded-lg w-10 flex items-center">
    <a href="<%= link %>" class="flex items-center justify-start">
        <i class="<%= icon %>"></i>
        <span class="ml-4 sidebar-text hidden w-screen text-xs"><%= text %></span>
    </a>
    <div class="absolute top-1/4 right-0 h-1/2 w-1 bg-mango rounded-lg hidden group-hover:block"></div>
    <div class="absolute top-1/2 left-full transform -translate-y-1/2 ml-3 bg-white text-deep-purple text-sm py-1 px-2 rounded hidden group-hover:block whitespace-nowrap"><%= text %></div>
</div>
