{% load static i18n %}
<div class="activity-comp flex flex-col p-6 rounded-lg bg-white gap-5">
    <div class="flex gap-4 items-center">
        <i class="fa-light {{ icon }}"></i>
        <p class="text-base">
            {{ title }}
        </p>
    </div>
    {% for row in rows %}
    <div class="flex justify-between">
        <div>
            <p class="font-medium text-gray-900">
                <a href="{% url 'opportunity:tw_opportunities' org_slug=request.org.slug opp_id=row.opportunity__id %}" class="hover:underline">
                    {{ row.opportunity__name }}
                </a>
            </p>
            <p class="font-normal text-xs text-gray-400">{{ row.opportunity__name }}</p>
        </div>
        {% include 'tailwind/components/buttons/button_secondary_rounded.html' with text=row.count %}

    </div>
    {% endfor %}
    <div class="flex justify-end">
        {% include 'tailwind/components/buttons/button_text.html' with text='more' %}
    </div>
</div>
