<!-- card.html -->
<div class="bg-white p-4 rounded-lg shadow-lg" 
x-data="{ message: '' }" 
@button-clicked="message = $event.detail.message; console.log('Button clicked')">
    <div class="card-header mb-4">
        <h3 class="text-lg font-semibold">{{ card.data.title }}</h3>
        <p class="text-gray-600">{{ card.data.subtitle }}</p>
    </div>

    <div class="card-buttons space-x-2">
        {% for button in card.data.buttons %}
            {% if button.variant == 'button-primary' %}
                {% include 'ccc_app/components/buttons/button_primary.html' with text=button.text size=button.size %}
            {% elif button.variant == 'button-secondary' %}
                {% include 'ccc_app/components/buttons/button_secondary.html' with text=button.text size=button.size icon=button.icon %}
            {% endif %}
        {% endfor %}
    </div>
</div>
