<div 
    class="w-full flex justify-between p-4 rounded-lg" 
    :class="selected ? 'bg-gray-100' : 'bg-white'">
    <div>
        <spna class="font-medium text-gray-900 block">{{title}}</span>
        <span class="text-xs text-gray-400 block font-normal">{{description}}</span>
    </div>
    <label class="relative inline-flex cursor-pointer items-center">
        <input id="switch" type="checkbox" class="peer sr-only" />
        <label for="switch" class="hidden"></label>
        <div class="peer h-7 w-12 rounded-full border bg-slate-200 after:absolute after:left-1 after:top-1/4 after:h-5 after:w-5 after:rounded-full after:border after:border-gray-300 after:bg-white after:transition-all after:content-[''] peer-checked:bg-green-600 peer-checked:after:translate-x-full peer-checked:after:border-white peer-focus:ring-green-300"></div>
      </label> 
</div>