<!-- Worker Dashboard Card -->
<div class="w-full h-full bg-white/10 text-white relative flex flex-col justify-between p-4 rounded-lg">
    <div class="flex justify-between items-start">
        <!-- Number Content -->
        <div class="text-2xl">{{count|default:"0"}}</div>
        <!-- Icon -->
        <i class="fa-light fa-{{icon|default:"gem"}} text-xl"></i>
    </div>
    <div class="pt-4 text-sm flex items-center justify-between">
        <span>{{text|default:"Total Delieveries"}}</span>
        {% if dropdown %}
        <i class="fa-solid fa-caret-down ml-2 cursor-pointer" onclick="dashboardCartOpen()"></i>
        {% endif %}
    </div>
    
    {% if dropdown %}
    <div id="dropdown-content" class="hidden absolute top-full mt-2 right-0 w-full rounded-md bg-white text-black shadow-lg p-2">
        <ul>
            <li class="p-1 cursor-pointer hover:bg-gray-200">Option 1</li>
            <li class="p-1 cursor-pointer hover:bg-gray-200">Option 2</li>
            <li class="p-1 cursor-pointer hover:bg-gray-200">Option 3</li>
        </ul>
    </div>
    {% endif %}
</div>
 
