<div class="bg-white shadow-sm p-4 rounded-lg flex flex-col gap-4 w-[80%] h-[42%]">
  <div class="flex justify-between items-center text-gray-400 text-sm">
    <h3 class="text-base font-medium text-brand-deep-purple">Reason for Rejection</h3>
  </div>
  <div class="flex items-center justify-between">
    <p class="text-black text-sm font-regular">
      48 items has been marked for approval Provide a justification for approving flagged visits
    </p>
  </div>
  <div class="relative">
    <i class="fa-light fa-thumbs-down absolute left-3 top-1/2 transform -translate-y-1/2 text-sm"></i>
    <input
      type="text"
      name="username"
      placeholder="Reason"
      class="w-full pl-10 pr-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 placeholder:text-sm"
      hx-post="/update"
      hx-trigger="keyup changed delay:300ms"
      hx-target="#preview"
      hx-swap="innerHTML"
    />
  </div>
  <div class="flex justify-end gap-4 mt-2">
    {% include "ccc_app/components/buttons/button_cancel.html" %} {% include "ccc_app/components/buttons/danger.html" %}
  </div>
</div>
