<div class="bg-white shadow-sm p-4 rounded-lg flex flex-col gap-4 w-[25%] h-[25%]">
  <div class="flex justify-between items-center text-gray-400 text-sm">
    <h3 class="text-base font-medium text-brand-deep-purple">User Status Details</h3>
    <i class="fa-regular fa-xmark cursor-pointer"></i>
  </div>
  <div class="flex items-center bg-brand-marigold bg-opacity-30 text-brand-deep-purple px-3 py-2 mt-2 rounded-lg border border-marigold">
    <span class="flex-1 text-sm text-brand-marigold">User has yellow status</span>
    {% include "tailwind/components/buttons/button_primary_sm.html" with text='Suspend' %}
  </div>
  <div>
    <div class="flex items-center justify-between">
      <p class="text-brand-deep-purple text-sm">Data Points</p>
      <p class="text-brand-deep-purple text-sm">Score</p>
    </div>
    {% for row in rows %}
    <div class="flex items-center justify-between mt-3">
      <p class="text-slate-600 text-xs">{{ row.name }}</p>
      <p class="text-slate-600 text-xs">45</p>
    </div>
    {% endfor %}
  </div>
</div>
