{% load django_tables2 %}
{% load i18n %}
<div hx-swap-oob="beforeend:#messages">{% include "components/messages.html" %}</div>
<div class="flex flex-col gap-2 mt-6">
  <div class="flex items-center gap-2">
    <h2 class="card_title">{% trans "Pending Invites" %}</h2>
    <span class="hint">
      {% blocktrans count counter=table.rows|length %}
        {{ counter }} invite
      {% plural %}
        {{ counter }} invites
      {% endblocktrans %}
    </span>
  </div>
  {% render_table table %}
</div>
