{% load i18n %}
<div class="flex gap-2 justify-end">
  <button type="button"
          class="button button-sm outline-style"
          hx-post="{% url 'organization:reinvite' record.organization.slug record.pk %}"
          hx-target="#pending_invites_container"
          hx-swap="innerHTML"
          {% if record.is_in_reinvite_cooldown %}disabled{% endif %}>
    {% if record.is_in_reinvite_cooldown %}
      {% translate "Just sent" %}
    {% else %}
      {% translate "Reinvite" %}
    {% endif %}
  </button>
  <button type="button"
          class="button button-sm negative-outline"
          hx-post="{% url 'organization:revoke_invite' record.organization.slug record.pk %}"
          hx-target="#pending_invites_container"
          hx-swap="innerHTML">{% translate "Revoke" %}</button>
</div>
