<tbody id="table-body" class="block rounded-lg w-full">
    <tr class="flex w-full gap-x-4">
      <td class="text-center">1</td>
      <td>14:56</td>
      <td>Violla Maeya</td>
      <td>
        <span hx-get="/src/components/badge?data=Location&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span hx-get="/src/components/badge?data=Form%20Duration&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span
          class="badge clickable-badge cursor-pointer text-blue-500"
          hx-get="src/components/dropdown.htmx"
          hx-target="#dropdown-container"
        >+4</span>
      </td>
      <td class="text-right text-blue-800">
        <i class="fa-regular fa-flag"></i>
      </td>
    </tr>
    <tr class="flex w-full gap-x-4">
      <td class="text-center">2</td>
      <td>14:56</td>
      <td>Violla Maeya</td>
      <td>
        <span hx-get="/src/components/badge?data=Location&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span hx-get="/src/components/badge?data=Form%20Duration&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span
          class="badge clickable-badge cursor-pointer text-blue-500"
          hx-get="src/components/dropdown.htmx"
          hx-target="#dropdown-container"
        >+4</span>
      </td>
      <td class="text-right text-blue-800">
        <i class="fa-regular fa-flag"></i>
      </td>
    </tr>
    <tr class="flex w-full gap-x-4">
      <td class="text-center">3</td>
      <td>14:56</td>
      <td>Violla Maeya</td>
      <td>
        <span hx-get="/src/components/badge?data=Location&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span hx-get="/src/components/badge?data=Form%20Duration&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span
          class="badge clickable-badge cursor-pointer text-blue-500"
          hx-get="src/components/dropdown.htmx"
          hx-target="#dropdown-container"
        >+4</span>
      </td>
      <td class="text-right text-blue-800">
        <i class="fa-regular fa-flag"></i>
      </td>
    </tr>
    <tr class="flex w-full gap-x-4">
      <td class="text-center">4</td>
      <td>14:56</td>
      <td>Violla Maeya</td>
      <td>
        <span hx-get="/src/components/badge?data=Location&bgColor=[#ff0000]&textColor=[#ffffff]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span hx-get="/src/components/badge?data=Form%20Duration&bgColor=[#f1f5f9]&textColor=[#16006d]" hx-swap="outerHTML" hx-trigger="load"></span>
        <span
          class="badge clickable-badge cursor-pointer text-blue-500"
          hx-get="src/components/dropdown.htmx"
          hx-target="#dropdown-container"
        >+4</span>
      </td>
      <td class="text-right text-blue-800">
        <i class="fa-regular fa-flag"></i>
      </td>
    </tr>
  </tbody>