<div id="sidebar" class="w-16 bg-deep-purple z-[9999] h-screen text-white flex flex-col top-0 left-0 fixed transition-all duration-300">
  <div class="relative flex flex-col items-start justify-center mb-20">
    <div class="fixed top-4 flex gap-3 mb-10 pl-4">
      <img src="./public/Assets/logo.svg" class="w-7 h-7 rounded-full border-gray-300" />
      <div id="commcareText" class="hidden text-white text-xl font-normal">
        <p class="text-lg">CommCare</p>
        <p></p>
        <p class="text-lg ml-6 -mt-2">Connect</p>
        <p></p>
      </div>
    </div>
    <button onclick="toggleSidebar()" class="focus:outline-none absolute top-12 w-screen mt-8">
      <div class="flex gap-3 items-center justify-start pl-6 w-screen">
        <i class="fa-regular fa-bars" id="menuIcon"></i>
        <span id="menuText" class="ml-2 hidden text-xs">Menu</span>
      </div>
    </button>
  </div>

  <div class="flex-grow flex flex-col mt-16">
    <nav class="flex flex-col transition-all duration-300 px-2" id="navItems">
      <!-- Dashboard Item -->
    <div
    hx-get="/src/components/sidenav/sidenav-item?link=/&text=Dashboard&icon=fa-light%20fa-table-cells-large"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>

  <!-- Programs Item -->
  <div
    hx-get="/src/components/sidenav/sidenav-item?link=/&text=Programs&icon=fa-light%20fa-table-columns"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>

  <!-- Opportunities Item -->
  <div
    hx-get="/src/components/sidenav/sidenav-item?link=/&text=Opportunities&icon=fa-light%20fa-sidebar"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>

  <!-- Analytics Item -->
  <div
    hx-get="/src/components/sidenav/sidenav-item?link=/&text=Analytics&icon=fa-light%20fa-chart-pie"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>

  <!-- My Organization Item -->
  <div
    hx-get="/src/components/sidenav/sidenav-item?link=/&text=My%20Organization&icon=fa-light%20fa-buildings"
    hx-trigger="load"
    hx-swap="outerHTML"
  ></div>
    </nav>
  </div>

  <div class="pb-4 px-2 flex flex-col">
    <!-- Help & FAQ Item -->
  <div
  hx-get="/src/components/sidenav/sidenav-item?link=/&text=Help%20%26%20FAQ&icon=fa-light%20fa-circle-question"
  hx-trigger="load"
  hx-swap="outerHTML"
></div>

<!-- Settings Item -->
<div
  hx-get="/src/components/sidenav/sidenav-item?link=/&text=Settings&icon=fa-light%20fa-gear"
  hx-trigger="load"
  hx-swap="outerHTML"
></div>
  </div>
</div>
