<div class="overflow-auto max-h-[calc(75vh+8px)]">
    <div class="flex gap-2">
        <div class="pt-3">
            {% for item in data %}
            <div class="w-4 flex flex-col items-center">
                <div class="w-2 h-2 rounded-full bg-brand-deep-purple"></div>
                <div class="h-18 w-[1px] rounded-lg border-[.5px] {% if forloop.first %}border-solid{% else %}border-dashed{% endif %}"></div>
            </div>
            {% endfor %}
        </div>
        <div>
            {% for item in data %}
            <div class="h-20 flex flex-col gap-y-1.5 justify-center rounded-lg {% if item.status == 'Paid' %}hover:bg-neutral-100{% endif %} px-2 {% if item.status == 'Paid' %}group{% endif %}">
                <div class="flex justify-between">
                    <div>
                        <div class="flex text-xs font-normal text-slate-400 gap-2 items-center">
                            <p>{{ item.date }}</p>
                            <div class="h-3 w-[1px] rounded-lg bg-slate-400"></div>
                            <p>{{ item.time }}</p>
                        </div>
                        <p class="text-brand-deep-purple text-xs font-normal">{{ item.title }}</p>
                    </div>
                    {% if item.status == 'Paid' %}
                    <div class="hidden group-hover:block">
                        <button class="button-icon">
                            <i class="fa-light fa-arrow-rotate-left text-xl text-slate-400"></i>
                        </button>
                    </div>
                    {% endif %}
                </div>
                <div class="flex items-center text-sm font-medium  gap-2">
                    <p class="{% if item.status != 'Paid' %}text-brand-sunset {% else %} text-brand-deep-purple {% endif %}">{{ item.status }} {{ item.amount }}</p>
                    <div class="w-2 h-2 rounded-full bg-brand-deep-purple"></div>
                    <p>{{ item.workers }} Workers</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>