<div class="flex flex-col gap-4">
    <h2>Budget</h2>

     <!-- opportunities details -->
    <div id="opportunities-details" class="w-full rounded-lg shadow-sm bg-white p-6 grid grid-cols-4 gap-4">
        <div class="rounded-lg bg-gray-100 col-span-1 flex flex-col p-6">
            <span class="text-sm text-gray-400">Total Visit</span>
            <span class="text-gray-900 text-xl font-medium">145</span>
        </div>
        <div class="rounded-lg bg-gray-100 col-span-1 flex flex-col p-6 cols-2">
            <span class="text-sm text-gray-400">Total Amount for the Visits</span>
            <span class="text-gray-900 text-xl font-medium">$ 50,000</span>
        </div>
        <div class="simple-input row-start-2 col-span-2">
            <input type="number" placeholder="Max Users"/>
            <i class="fa-light fa-user-group"></i>
        </div>
        <div class="rounded-lg bg-gray-100 flex flex-col p-6 col-span-4">
            <span class="text-sm text-gray-400">Total Budget</span>
            <span class="text-brand-indigo text-2xl">$ 750,000</span>
        </div>
    </div> 
</div>