<div class="flex flex-col gap-4">
    <h2>Create</h2>

     <!-- opportunities details -->
    <div id="opportunities-details" class="w-full rounded-lg shadow-sm bg-white p-6 grid grid-cols-2 gap-4">
        <div class="col-span-2">
            <h6 class="font-medium text-brand-deep-purple">Opportunity Details</h6>
            <span class="text-sm text-gray-400">Add the details of the opportunity. All fields are mandatory.</span>
        </div>  
        <div class="flex flex-col gap-4">
            <div class="simple-input">
                <input type="text" placeholder="Title"/>
                <i class="fa-light fa-memo"></i>
            </div>
            <div class="simple-input">
                <input type="text" placeholder="Short description"/>
                <i class="fa-light fa-user"></i>
            </div>
            <div class="simple-textarea">
                <textarea name="text" placeholder="Long Description" maxlength="500"></textarea>
                <i class="fa-light fa-user"></i>
            </div> 
        </div>
        <div class="flex flex-col gap-4"> 
            <div class="w-full flex justify-between rounded-lg h-12" >
                <div>
                    <spna class="font-medium text-sm text-gray-700 block">Make this test Opportunity</span>
                    <span class="text-xs text-gray-400 block font-normal">Test opportunities  do not count towards KPIs</span>
                </div>
                <!-- toggle switch -->
                <input id="switch" type="checkbox" class="simple-toggle" /> 
            </div>
            <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Program Manager</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-table-columns"></i>
            </div>
            <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Network Manager</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-users"></i>
            </div>
            <div class="simple-input">
                <input type="text" placeholder="API Keys"/>
                <i class="fa-light fa-key"></i>
            </div>
        </div> 
    </div>

    <!-- oppportunities apps -->
    <div id="opportunity-apps" class="w-full rounded-lg shadow-sm bg-white p-6 grid grid-cols-2 gap-4">
        <div class="col-span-2">
            <h6 class="font-medium text-brand-deep-purple">Apps</h6>
            <span class="text-sm text-gray-400">Add the details of the opportunity. All fields are mandatory.</span>
        </div> 
        <!-- learn app -->
         <div class="flex flex-col gap-4">
             <span class="text-brand-indigo text-sm font-medium">Learn App</span>
             <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Domain Name</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-globe"></i>
            </div>
            <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Select Apps</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-grid-2"></i>
            </div> 
            <div class="simple-input">
                <input type="text" placeholder="Passing Score"/>
                <i class="fa-light fa-clipboard-check"></i>
            </div>
         </div>

         <!-- delviery app -->
         <div class="flex flex-col gap-4">
            <span class="text-brand-indigo text-sm font-medium">Delivery App</span>
            <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Domain Name</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-globe"></i>
            </div>
            <div class="simple-dropdown">
                <select required>
                    <option value="Select an option" selected="selected" disabled hidden>Select Apps</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                    <option value="">Option A</option>
                </select>    
                <i class="fa-light fa-grid-2"></i>
            </div>
         </div>
    </div>
</div>