<div class="flex gap-2 w-full items-center justify-between">
    {% for data in totalinfo %}
    <div class="flex gap-2 items-start"> 
        {% include 'ccc_app/components/opportunity-dashboard/info_card.html' with icon=data.icon name=data.name count=data.count id=forloop.counter|stringformat:"s" %}  
    </div>
    {% if not forloop.last and forloop.counter != 2 %}
    <div class="w-0.5 h-10 bg-white bg-opacity-30"></div>
    {% endif %}
    {% endfor %} 
    <div class="">{% include 'ccc_app/components/badges/badge_md.html' with text='active' bg_color='green-600' text_color='' %}</div>
</div>