<div class="flex gap-8 w-full items-end rounded-lg">
    <div class="flex flex-col gap-1 w-full">
        <div class="flex gap-4 items-center">
            <span class="text-sm block">{{title}}</span> <span class="rounded-full px-3 py-0.5 bg-indigo-100 text-brand-indigo text-xs {{visibility}}">{{precentage}}</span>
        </div>
        <div class="w-full bg-gray-200 rounded-full h-2.5">
            <div class="bg-brand-indigo h-2.5 rounded-full" style="width: {{progress}}%"></div>
        </div>
    </div>
    <span class="text-lg">{{value}}</span> 
</div>  