<div class="flex gap-4 w-full justify-between p-4 rounded-b-xl bg-white"> 
    {% include 'ccc_app/components/opportunity-dashboard/progress-breakdown.html' with title='Daily Active Worker' data_a_title='maximum' data_a_value='50' %} 
    {% include 'ccc_app/components/opportunity-dashboard/progress-breakdown.html' with title='Daily Active Worker' data_a_title='maximum' data_a_value='50' %} 
    {% include 'ccc_app/components/opportunity-dashboard/progress-breakdown.html' with title='Daily Active Worker' data_a_title='maximum' data_a_value='50' %}
</div>