<header class="fixed top-0 left-16 right-0 bg-gray-100 z-40">
    <div class="flex items-center justify-between w-full px-4 py-2">
        <!-- Left Section: Module Name -->
        <h1 class="text-lg text-brand-deep-purple font-medium">{{ header_title|default:"CommCareConnect" }}</h1>

        <!-- Right Section: Search, Notification, Profile Dropdown -->
        <div class="flex items-center gap-x-2">

            <!-- Search -->
            <button class="text-brand-deep-purple focus:outline-none rounded-full hover:bg-white aspect-square w-10">
                <i class="fa-light fa-magnifying-glass"></i>
            </button>

            <!-- Notification -->
            <button class="text-brand-deep-purple focus:outline-none rounded-full hover:bg-white aspect-square w-10 relative">
                <div class="h-2 w-2 bg-red-500 rounded-full absolute top-2 right-2"></div>
                <i class="fa-light fa-bell"></i>
            </button>

            <!-- Dropdown Menu -->
            <div id="dropdown-menu"
                class="absolute left-0 mt-2 w-[180px] bg-white shadow-lg rounded-lg transition-all duration-300 transform scale-95 opacity-0 invisible">
                <ul class="py-2">
                <div class="px-3">
                    <li class="py-2 px-3 hover:bg-gray-100 rounded cursor-pointer">
                        <p class="text-[#16006D] text-[14px] font-[400]">Meca Healthcare</p>
                        <p class="text-[13px] font-[300] text-[#94A3B8]">Program Manager</p>
                    </li>
                    </div>
                     <div class="px-4">
                    <li class="px-3 py-2 hover:bg-gray-100 rounded cursor-pointer">
                        <p class="text-[#16006D] text-[14px] font-[400]">Ecma Education</p>
                        <p class="text-[13px] font-[300] text-[#94A3B8]">Network Manager</p>
                    </li>
                    </div>
                     <div class="px-4">
                    <li class="px-3 py-2 hover:bg-gray-100 rounded cursor-pointer">
                        <p class="text-[#16006D] text-[14px] font-[400]">Cmea Kindheart</p>
                        <p class="text-[13px] font-[300] text-[#94A3B8]">Program Manager</p>
                    </li>
                    </div>
                     <div class="px-4">
                    <li class="px-3 py-2 hover:bg-gray-100 rounded cursor-pointer">
                        <p class="text-[#16006D] text-[14px] font-[400]">Acme Venture</p>
                        <p class="text-[13px] font-[300] text-[#94A3B8]">Network Manager</p>
                    </li>
                    </div>
                </ul>
            </div>

        </div>
    </div>
</header>
