<div class="bg-white shadow-sm p-4 rounded-lg flex flex-col gap-4 w-fit h-fit">
  <div class="space-y-2">
    <h3 class="text-base font-medium text-brand-deep-purple">Reason for Rejection</h3>
    <p class="text-black text-sm font-normal">48 items has been marked for rejection Provide a justification for approving flagged visits</p>
  </div> 
  <div class="simple-input">
    <input type="text" placeholder="Reason"/>
    <i class="fa-light fa-thumbs-down"></i>
  </div>
  <div class="flex justify-end gap-4 mt-2">
    <button class="button button-md  outline-style">
      Cancel
    </button>
    <button class="button button-md  negative-dark">
      Submit
    </button> 
  </div>
</div>
