{% extends "base.html" %}

{% load render_table from django_tables2 %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
    <h1>Events</h1>

    <form hx-get="{% url 'events:event_htmx' org_slug=request.org.slug %}"
          hx-target="div.table-container"
          hx-swap="outerHTML"
          hx-trigger="change"
          hx-push-url="true"
          class="form-inline">
        {% crispy filter.form %}
    </form>

    {% render_table table %}
{% endblock %}

{% block javascript %}
{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

{% endblock %}

{% block css %}
{{ block.super }}
<style>
.select2-selection__rendered {
    line-height: initial!important;
}
</style>
{% endblock %}
