<div class="flex items-center w-fit rounded-lg group">
    <!-- First Toggle Option -->
    <input id="radio2" type="radio" name="toggle" class="hidden peer/radio2" checked />
    <label for="radio2" class="flex items-center justify-center w-10 h-10 rounded-lg cursor-pointer peer-checked/radio2:bg-brand-indigo peer-checked/radio2:text-white text-gray-600">
        <i class="fa-light fa-table-rows text-xl peer-checked/radio2:text-white"></i>
    </label>
 
    <!-- Second Toggle Option -->
    <input id="radio1" type="radio" name="toggle" class="hidden peer/radio1" />
    <label for="radio1" class="flex items-center justify-center w-10 h-10 rounded-lg cursor-pointer peer-checked/radio1:bg-brand-indigo peer-checked/radio1:text-white text-gray-600">
        <i class="fa-light fa-map text-xl peer-checked/radio1:text-white"></i>
    </label>
 </div>