{% extends "account/base.html" %}
{% load i18n %}
{% block head_title %}
  {% translate "Password Reset" %}
{% endblock %}
{% block inner %}
  <div class="w-full min-h-[620px] h-fit flex flex-col gap-4">
    <h1 class="title text-brand-deep-purple">{% translate "Change Password" %}</h1>
    {# Silently drain messages — this page already says it #}
    {% for message in messages %}{% endfor %}
    <p>{% translate 'Your password is now changed. You can now sign in with your new password.' %}</p>
    <a href="{% url 'account_login' %}"
       class="button button-md primary-dark w-fit">{% translate "Sign In" %}</a>
  </div>
{% endblock %}
