{% extends "account/base.html" %}
{% load static %}
{% load i18n %}
{% block head_title %}
  {% translate "Change Password" %}
{% endblock %}
{% block inner %}
  {% if token_fail %}
    {% url 'account_reset_password' as passwd_reset_url %}
    <p>
      {% blocktranslate %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktranslate %}
    </p>
  {% else %}
    {% if form %}
      <form method="post" class="w-full min-h-[620px] h-fit flex flex-col gap-4">
        {% csrf_token %}
        <h6 class="title text-brand-deep-purple">New Password</h6>
        <span class="text-sm text-gray-600">Please create a new password</span>
        <!-- Password Field -->
        {% translate "Password" as password_label %}
        {% include "account/password_field.html" with field=form.password1 placeholder=password_label %}
        {% translate "Confirm Password" as confirm_password_label %}
        {% include "account/password_field.html" with field=form.password2 placeholder=confirm_password_label %}
        <div class="flex justify-between items-center">
          <div></div>
          <button class="button button-md primary-dark" type="submit">
            <span class="relative z-20">Update</span>
          </button>
        </div>
        <div class="text-sm text-gray-400 text-center mt-auto border-t-gray-200 border-t-2 pt-4 ">
          {% translate "Don't have an account?" %}
          <a href="{% url 'account_signup' %}"
             class="text-brand-indigo font-medium">{% translate "Signup" %}</a>
        </div>
      </form>
    {% else %}
      {# Silently drain messages — this page already says it #}
      {% for message in messages %}{% endfor %}
      <p>{% translate 'Your password is now changed. You can now sign in with your new password.' %}</p>
      <a href="{% url 'account_login' %}"
         class="button button-md primary-dark w-fit">{% translate "Sign In" %}</a>
    {% endif %}
  {% endif %}
{% endblock %}
