<div class="input-group {% if field.errors %}error{% endif %}">
  <div class="simple-input">
    <input type="password"
           placeholder="{{ placeholder }}"
           required
           id="{{ field.auto_id }}"
           name="{{ field.html_name }}"
           {% if persist_value and field.value != None %}value="{{ field.value|stringformat:'s' }}"{% endif %}
           {% if x_model %}x-model="{{ x_model }}"{% endif %}>
    <i class="fa-solid fa-lock"></i>
    <span class="error-icon fa-solid fa-circle-exclamation"></span>
  </div>
  {% for error in field.errors %}<p class="error-msg">* {{ error }}</p>{% endfor %}
</div>
